/* 1. imports externos obrigatoriamente no topo */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Suez+One&display=swap');
@import "tailwindcss";


/* animações */

@keyframes slideRight { from { transform: translateX(-100%); } to { transform: translateX(0); } }
@keyframes slideLeft { from { transform: translateX(100%); } to { transform: translateX(0); } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
.animate-slide-right { animation: slideRight 0.3s ease-out forwards; }
.animate-slide-left { animation: slideLeft 0.3s ease-out forwards; }
.animate-fade-in { animation: fadeIn 0.2s ease-out forwards; }

/* 2. mapeamento de tokens de fonte no tailwind v4 */
@theme {
  --font-suez: "Suez One", serif;
  --font-poppins: "Poppins", sans-serif;
}

/* 3. estilos base */
body {
  background-color: #FAFAFA;
  font-family: var(--font-poppins);
}